.Rproj.user
.Rhistory
.RData
.Ruserdata
**/.DS_Store
**/.jpeg
*.jpeg
**/*.png
**/*.html
**/*.pdf
.DS_Store
metadata/*.xlsx
results/*.csv
results/*.RData
*._*
.drake/
_targets/
processed_data/
*.gmt
metadata/
*.csv
